{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class=" pt-5 pb-5 " align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Reset Password</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class='btn  btn-info'>Reset Password</button>
                </form>
                <a href="{% url 'login' %}" class="float-right btn btn-primary" style="text-decoration: none;">Login</a>
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
{% endblock %}
